<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684122447967-54ldqncd1063s2ropk7vnus8hpl01tt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684122447967-54ldqncd1063s2ropk7vnus8hpl01tt2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpr4aXwTSgj4ntSZ0TY9CFUDYA9ugEM-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>684122447967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.paipai.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-fb7cc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-fb7cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684122447967:ios:8bbc054284dd1a8e08bbea</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-fb7cc.firebaseio.com</string>
</dict>
</plist>